<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humancto.scamguard.smoke"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="30" />
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:hasCode="true"
        android:label="ScamGuard Smoke"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="com.scamguard.smoke.ScamGuardSmokeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
